doctype html

html(lang='en')
    head
        style(type="text/css").
            body {
                font-family: sans-serif;
                font-size: 16px;
            }
            div.domain-info h3 {
                text-align: center;
            }
            div.domain-info p {
                border: 1px solid #f0f0f0;
                border-width: 1px 0 0 0;
                font-family: monospace;
                font-size: .8rem;
                height: 26px;
                line-height: 26px;
                margin: 0;
                text-align: center;
            }
            div.domain-info p span:first-child {
                margin-right: 10px;
            }
            div.file-types p {
                border: 1px solid #f0f0f0;
                border-width: 1px 0 0 0;
                font-family: monospace;
                font-size: .8rem;
                height: 26px;
                line-height: 26px;
                margin: 0;
            }
            div.grid {
                background: #fff;
                display: grid;
                grid-template-columns: 250px 1fr;
            }
            div.scrollable {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
                padding-bottom: 30px;
            }
            div.scrollable > div {
                flex-shrink: 0;
                width: 190px;
            }
            h3 {
                font-size: .7rem;
                font-weight: normal;
                margin: 0;
                padding: 0;
            }
            section {
                background: #f0f0f0;
                border: 1px solid #bbb;
                display: grid;
                grid-template-columns: 250px 1fr;
                margin: 1em 0;
                padding: 10px;
            }
            small {
                margin-left: 5px;
            }
            table {
                border-collapse: collapse;
            }
            table tfoot td {
                font-weight:bold;
            }
            table td {
                border: 1px solid #f0f0f0;
                font-family: monospace;
                padding: 5px;
            }
            .sent {
                color: blue;
            }
            .sent small {
                color: grey;
            }
            .received {
                color: green;
            }
        script(src="https://kit.fontawesome.com/b070d9f9ab.js", crossorigin="anonymous")

body
    table
        thead
            tr
                th(rowspan=2) Date
                th(colspan=3) Assets
                th(colspan=3) Content
                th(colspan=2) TOTAL
            tr
                th Traffic
                th Requests
                th Avg.time
                th Traffic
                th Requests
                th Avg.time
                th Traffic
                th Requests
        tbody
            - var totalSentAssets = 0;
            - var totalSentContent = 0;
            - var totalRequestsAssets = 0;
            - var totalRequestsContent = 0;
            - var avgTimeAssets = [];
            - var avgTimeContent = [];
            each rowDate, date in data
                - totalSentAssets += rowDate.assets.sent;
                - totalSentContent += rowDate.content.sent;
                - totalRequestsAssets += rowDate.assets.requests;
                - totalRequestsContent += rowDate.content.requests;
                - avgTimeAssets.push(rowDate.assets.averageTimeTaken);
                - avgTimeContent.push(rowDate.content.averageTimeTaken);
                tr
                    td= date
                    td= pb(rowDate.assets.sent, pretty)
                    td= rowDate.assets.requests
                    td= rowDate.assets.averageTimeTaken
                    td= pb(rowDate.content.sent, pretty)
                    td= rowDate.content.requests
                    td= rowDate.content.averageTimeTaken
                    td= pb(rowDate.assets.sent + rowDate.content.sent, pretty)
                    td= (rowDate.assets.requests + rowDate.content.requests)
        tfoot
            tr
                td TOTAL
                td= pb(totalSentAssets, pretty)
                td= totalRequestsAssets
                td= (avgTimeAssets.reduce((a,c) => a + c, 0) / avgTimeAssets.length).toFixed(6)
                td= pb(totalSentContent, pretty)
                td= totalRequestsContent
                td= (avgTimeContent.reduce((a,c) => a + c, 0) / avgTimeContent.length).toFixed(6)
                td= pb(totalSentAssets + totalSentContent, pretty)
                td= (totalRequestsAssets + totalRequestsContent)

    each rowDate, date in data
        section
            div.date-info
                h2= date
                p Total requests: #{rowDate.assets.requests + rowDate.content.requests}
                p.sent
                    | Bytes sent: !{pb(rowDate.assets.sent + rowDate.content.sent, pretty)}
                    | (assets: !{pb(rowDate.assets.sent, pretty)} / content: !{pb(rowDate.content.sent, pretty)})
                p.received Bytes received: !{pb(rowDate.assets.received + rowDate.content.received, pretty)}

            div.grid
                div.file-types
                    h3 File types
                    each ext in extensions
                        p= ext

                div.scrollable
                    each rowDomain, domain in rowDate.byDomain
                        div.domain-info
                            h3.domain-title= domain
                            each ext in extensions
                                if rowDomain.byExt[ext]
                                    p
                                        span.sent
                                            i.fas.fa-upload
                                            | !{pb(rowDomain.byExt[ext].totalBytesSent, pretty)}
                                        span.received
                                            i.fas.fa-download
                                            | !{pb(rowDomain.byExt[ext].totalBytesReceived, pretty)}
                                else
                                    p -
                            p.domain-stats
                                span.sent
                                    i.fas.fa-upload
                                    | !{pb(rowDomain.assets.sent + rowDomain.content.sent, pretty)}
                                    small !{pb(rowDomain.assets.sent, pretty)} / !{pb(rowDomain.content.sent, pretty)}
                                span.received
                                    i.fas.fa-download
                                    | !{pb(rowDomain.assets.received + rowDomain.content.received, pretty)}
